{erl_opts, [debug_info]}.

{deps, [
    {elmdb, {git, "https://github.com/permaweb/elmdb-rs.git",
        {ref, "faa762323be6bad2db26abfa1d4243863a877f0f"}}},
    {hb, {git, "https://github.com/permaweb/HyperBEAM.git",
        {ref, "0e83c3edb2aeb4764ec6a8697d6b138bdfa1a56d"}}}
]}.

{overrides, [
    {override, cowboy, [{deps, [cowlib, ranch]}]},
    {override, gun, [{deps, [cowlib]}]}
]}.

{plugins, [
    {plugin,
        {git_subdir, "https://github.com/permaweb/HyperBEAM.git",
            {ref, "0e83c3edb2aeb4764ec6a8697d6b138bdfa1a56d"},
            "src/forge"}},
    {rebar3_eunit_start,
        {git, "https://github.com/permaweb/rebar3_eunit_start.git",
            {ref, "04ec53fea187039770db0d4459b7aeb01a9021af"}}}
]}.

{eunit_opts, [verbose, {start_applications, [prometheus, hb]}]}.

{shell, [
    {apps, [hb]}
]}.

{alias, [
    {'eunit-all',
        [
            {device, "test --with-core"}
        ]
    },
    {'mint-authority-test',
        [
            {device, "test --device-src=src,../mint-authority/src,../outbox-1.0/src,../security/src --timeout 30"}
        ]
    }
]}.

{provider_hooks, [
    {pre, [
        {eunit, {default, rebar3_eunit_start}}
    ]}
]}.
